<!DOCTYPE html>
<html>
  <head>
    <title>RailsInterview</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Users', users_path %>
    <%= link_to 'Cars', cars_path %>
    <%= link_to 'Reservations', reservations_path %>

    <%= link_to 'New Reservaton', new_reservation_path %>

    <%= yield %>
  </body>
</html>
